<img src="assets/SolaVieveLogo.png" id="logo" alt="logo">

<hr>

<div class="container my-4">
  <div class="row">
    <div class="col-md-2 col-0"></div>

    <div class="col-md-8 col-12 text-center" id="form-container">
      <form [formGroup]="feedbackForm" (ngSubmit)="postFeedback()">

        <h1 class="mb-5">Leave a feedback!</h1>

        <p>Rate your experience from 0 to 5 stars:</p>
        <ngb-rating formControlName="overallRating">
          <ng-template let-fill="fill">
            <p [class.filled]="fill === 100">★</p>
          </ng-template>
        </ngb-rating>

        <hr class="mb-4">

        <p>How satisfied are you with the payment process?</p>
        <ngb-rating formControlName="paymentRating">
          <ng-template let-fill="fill">
            <p [class.filled]="fill === 100">★</p>
          </ng-template>
        </ngb-rating>
        <hr class="mb-4">

        <p>How satisfied are you with our customer service?</p>
        <ngb-rating formControlName="customerServiceRating">
          <ng-template let-fill="fill">
            <p [class.filled]="fill === 100">★</p>
          </ng-template>
        </ngb-rating>
        <hr class="mb-4">

        <p class="mb-4">Please leave a comment about your experience below:</p>

        <textarea formControlName="comment" class="form-control mb-4" placeholder="Type your comment here..."></textarea>

        <button type="submit" [disabled]="!feedbackForm.valid">SEND FEEDBACK</button>
      </form>
    </div>

    <div class="col-md-2 col-0"></div>
  </div>
</div>
